html {
    margin: 0;
    padding: 0;
    background-color: #1d242c;
}

body {
    background: #1d242c;
    margin : 0;
    padding : 1.5em;
    color: white;
}

h1 {
    font-family: georgia, 'times new roman', times, serif,sans-serif;
    color : #adaa4c;
    padding : 4px;
    border-bottom : 1pt dotted #adaa4c;
}

span.key {
    font-weight: bold;
}

img {
    float: right;
    margin-left: 15px;
}
