html {
    margin: 0;
    padding: 0;
    background-color: #1d242c;
}

body {
    background: #1d242c;
    margin : 0;
    padding : 1.5em;
    color: white;
}

h1 {
    font-family: georgia, 'times new roman', times, serif,sans-serif;
    color : #adaa4c;
    padding : 4px;
    border-bottom : 1pt dotted #adaa4c;
}

#menucontainer {
    padding:0;
    margin:0;
    background:#adaa4c;
}

ul#mainmenu {
    list-style-type:none;
    width:100%;
    position:relative;
    height:27px;
    font-family:"Trebuchet MS",Arial,sans-serif;
    font-weight:bold;
    margin:0;
    padding:0 0 0 0;
}

ul#mainmenu li {
    display:block;
    float:left;
    margin:0 0 0 6px;
    height:27px;
}

ul#mainmenu li.left {
    margin:0;
}

ul#mainmenu li a {
    display:block;
    float:left;
    color:#1d242c;
    background:#fff;
    line-height:27px;
    text-decoration:none;
    padding:0 17px 0 18px;
    height:27px;
}

ul#mainmenu li a:hover {
    background:#1d242c;
    color: #fff;
}
